.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    background-color: #F1F1F3;
    overflow-x: hidden;
}
/* global style start here */
.global-btn{
    padding: 17px 34px;
    background-color: #006A50;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    font-weight: 600;
}
.global-section-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.global-card-title{
    color: rgb(14, 14, 14,0.8);
    font-size: 20px;
    font-weight: bold;
}
.global-text{
    font-size: 1rem;
    color: rgb(14, 14, 14,0.7);
}

/* global style end here */
/* navbar start here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 192px;

}
nav>h1{
    font-size: 2rem;
    font-weight: bold;
    color: #0E0E0E;
}
nav>button{
    font-size: 1.125rem;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: transparent;
    cursor: pointer;
}
/* navbar end here */
/* hero section start here */
#hero{
    padding: 15px 192px;

}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 120px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 18px;
}
.hero-text h4{
    color: rgb(14, 14, 14,0.5);
    font-size: 24px;
    font-weight: 500;
}
.hero-text h1{
    color: #0E0E0E;
    font-size: 56px;
}
/* hero section end here */
/* pillar section start here */
 #pillar{
    padding: 80px 192px;
 }
 .piller-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
 }
.pillar-cards{
    display: flex;
    justify-content: space-between;
}
.pillar-card{
    width: 360px;
    border: 1px solid rgb(14, 14, 14,0.15);
    padding: 29px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}
.pillar-card img{
    margin-bottom: 12px;
}

/* pillar section end here */
/* future vission section start here */
    #future-vision{
        padding: 40px 192px;
    }
    .future-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    .future-cards{
        display: flex;
        justify-content: space-between;
    }
    .future-card{
        border-radius: 16px;
        width: 492px;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
    }
    .future-card:nth-child(1){
        background-color: rgb(84, 144, 245,0.2);
    }
    .future-card:nth-child(2){
        background-color:#C6E4D6;
    }
    .future-card:nth-child(3){
        background-color: #F7EBCF;
    }
    .global-card-btn{
        padding: 11px 20px;
        color: #fff;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
    }
    .card-btn-1{
        background-color: #5490F5;
    }
    .card-btn-2{
        background-color: #09A15C;
    }
    .card-btn-3{
        background-color: #FFC239;
    }
    .future-speace{
        border-radius: 16px;
        padding: 48px 24px;
        border: 1px solid rgb(14, 14, 14,0.15);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        background-image: url("../assets/quote-bg.png");
        background-repeat: no-repeat;
        background-position: 24px 25px;
        background-color: #fff;
    }
/* future vission section end here */

/* opinion section start here */
#opinion{
    padding: 40px 192px;
    
}
.opinion-content h1{
    margin-bottom: 24px;
}
.opinion-chart{
   background-color: #fff;
   padding: 32px;
   border-radius: 16px;
}
.opinion-chart-content{
    border: 1px solid rgb(14, 14, 14,0.15);
    /* padding: 24px; */
}
.opinion-heading{
    border-bottom:1px solid rgb(14, 14, 14,0.15) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #C6E4D6;

}
.opinion-body{
    display: flex;
    /* padding: 24px; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(14, 14, 14,0.15);
}
.opinion-body:nth-child(4){
    border-bottom: none;
}
.opinion-body-left{
    width: 90%;
    border-right: 1px solid rgb(14, 14, 14,0.15);
    padding: 24px 60px 24px 24px;
}
.opinion-body-right{
    padding: 24px;
  
}
#opn{
    padding: 10px 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: #C6E4D6;
    border-radius: 4px;
}
.opinion-heading h4{
    font-size: 20px;
    color: #0E0E0E;
}
.opinion-body h5{
  color: #0E0E0E;
  font-size: 16px;
}
/* opinion section end here */
/* recent news section start here */
#recent-news{
    padding: 40px 192px;
}
.recent-news-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.news-content{
    background-color: #fff;
    border-radius: 24px;
    padding: 57px;
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    margin-bottom: 25px;
}
.news-content>img{
    width: 490px;
    border-radius: 24px;
}
.news-text{
    width: 890px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
/* recent news section end here */
/* donate section start here */
#donate{
    padding: 40px 192px;
}
.donate-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:32px ;
}
.donate-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.donate-box{
    border: 1px solid rgb(14, 14, 14,0.15);
    padding: 40px;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: all ease-in 0.1s;
}
.donate-box:nth-child(2){
    background-color: #C6E4D6;
}
.donate-box:nth-child(2):hover{
    background-color: antiquewhite;
}
.donate-box:nth-child(1):hover{
    background-color: #C6E4D6;
}
.donate-box:nth-child(3):hover{
    background-color: #F7EBCF;
}
.donate-box:nth-child(4):hover{
    background-color: #C6E4D6;
}
.donate-content input{
    border: none;
    border-bottom: 1px solid rgb(14, 14, 14,0.15);
    padding: 20px 400px;
    color: rgb(14, 14, 14,0.3);
    font-size: 20px;
}
/* donate section end here */
/* newsletter section start here */
#news-letter{
    padding: 40px 192px;
}
.news-letter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px ;
    padding: 80px 265px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.input-field label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
#info{
    border: none;
    padding: 18.5px 40px;
    width: 600px;
    font-size: 16px;
    color: rgb(14, 14, 14,0.3);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#input-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    padding: 17px 34px;
    font-weight: 500;
}
/* newslette section end here */
/* footer start here */
footer{
    background-color: #fff;
}
.footer-content>h1{
    font-size: 2rem;
    font-weight: bold;
    color: #0E0E0E;
}
.footer-content{
    padding: 50px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 24px;
}
/* footer end here */




@media (max-width:1600px) {
    nav{
        padding: 25px 160px;
    }
    #hero{
        padding: 15px 160px;
    }
    #pillar{
        padding: 80px 160px;
    }
    #future-vision{
        padding: 40px 160px;
    }
    #opinion{
        padding: 40px 160px;
        
    }
    #recent-news{
        padding: 40px 160px;
    }
    #donate{
        padding: 40px 160px;
    }
    #news-letter{
        padding: 40px 160px;
    }
    .pillar-card{
        width: 300px;
        height: 244px;
    }
    .future-card{
        width: 410px;
        height: 325px;

    }
}